@import "normalize.css";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: #4c4345;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 4rem;
  padding-top: 4rem;
}
.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #7ebdc2;
  width: 90%;
  height: auto;
  max-width: 50rem;
  border-radius: 5rem;
  padding-bottom: 2rem;
  box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.5);
}
body .form {
  background-color: #e9c349;
  box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.5);
  width: 50%;
  max-width: 50rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  text-align: center;
}
.root .data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 100%;
}
.data .city-country {
  width: 100%;
  background-color: #efe6dd;
  box-shadow: 5px 2px 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4rem;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 4rem;
}
.data .weather-main {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
}

.data .temperature-data {
  background-color: #efe6dd;
  box-shadow: 5px 2px 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4rem;
  padding: 2rem 1rem;
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.temperature-data .celsius {
  font-size: 5rem;
}

.temperature-data .feels-like {
  font-size: 2rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}
.weather-main .image-condition {
  background-color: #efe6dd;
  box-shadow: 5px 2px 5px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  padding: 2rem;
  min-width: 12.5rem;
}
.image-condition .condition {
  text-align: center;
}

.data .additional-data {
  background-color: #efe6dd;
  box-shadow: 5px 2px 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4rem;
  width: 100%;
  padding: 1rem 2rem;

  margin-top: 1rem;
  text-align: center;
}
.additional-data p {
  padding: 1rem 0;
}
